layout: index
description: Ferry is a lightweight server framework for golang.
subtitle: A lightweight server framework for Go
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cogs
      h3.intro-feature-title Connection without Concern
      p.intro-feature-desc Ferry connects related servers automatically based on feature dependency.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-lock
      h3.intro-feature-title Separate Feature by Coroutine
      p.intro-feature-desc Feature boundary is limited by coroutine. Communication between features are same and standard.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-envelope
      h3.intro-feature-title Call Feature Anywhere
      p.intro-feature-desc No matter where the feature locates, just call as normal.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-puzzle-piece
      h3.intro-feature-title Free Developer to Focus on Feature
      p.intro-feature-desc Let developer design more reusable features. 
