layout: index
description: 这里是Cinder的老窝，里面有你所有你想要得，你懂得。。。。
subtitle: 这里是Cinder的老窝，里面有你所有你想要得，你懂得。。。。
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cogs
      h3.intro-feature-title Cinder通用框架
      p.intro-feature-desc 包括客户端，服务器框架代码，以及完整的工具链，可以让你快速的构建任何类型的游戏
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-lock
      h3.intro-feature-title 代码流程规范
      p.intro-feature-desc 拒绝在屎堆爬行，从此告别纠结
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-envelope
      h3.intro-feature-title 项目流程规范
      p.intro-feature-desc 跨工种配合分锅指南
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-puzzle-piece
      h3.intro-feature-title 人员管理
      p.intro-feature-desc 保护钱包，远离红线
