layout: index
description: Ferry is A lightweight server framework for Go.
subtitle: Go 轻量级服务器框架
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cogs
      h3.intro-feature-title 无感连接
      p.intro-feature-desc 基于功能依赖，Ferry自动连接相关服务器节点。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-lock
      h3.intro-feature-title 协程隔离功能
      p.intro-feature-desc 功能被限制在协程内，功能间的交互模式一致且标准。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-envelope
      h3.intro-feature-title 调用功能随时随地
      p.intro-feature-desc 无需关系功能到底在哪里，直接调用即可。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-puzzle-piece
      h3.intro-feature-title 解放开发者，使其更关注功能本身
      p.intro-feature-desc 让开发者可以设计出更多可重用的功能模块。
